{{ define "content"}}

    {{ partial "mainNav.html" . }}
    <header class="masthead text-center text-white d-flex">
        <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
            <h3 class="text-center">
                <blockquote>Imagination is more important than knowledge. Knowledge is limited. Imagination encircles the world.</blockquote>
            </h3>
            <hr>
            </div>
            <div class="col-lg-8 mx-auto">
            {{/*  <p class="text-faded mb-5 font-italic">Albert Einstein</p>  */}}
            <h4><footer class="blockquote-footer text-faded font-italic">Albert Einstein</footer></h4>
            {{/*  <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>  */}}
            </div>
        </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <div class="text-center">
                <img src="img/michael.png" class="rounded-circle" alt="Cinque Terre" width="25%">
            </div>
            <h2 class="section-heading text-white">About Me</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">
              I'm a PhD student of Econometric Institute, Erasmus University Rotterdam. My primary research 
              interest including financial econometrics, time series modelling, derivative modelling, and 
              artificial neural network.
            </p>
            <a class="btn btn-light btn-xl" href="/resume">My Resume</a>
          </div>
        </div>
      </div>
    </section>  

    <section id="blogs">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">My Blogs</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
    
      {{ with .Site.GetPage "/blogs"}}
        {{ $featuredPages := where .Pages "Params.featured" true }}
        <div class="row">
          {{ range first 4 $featuredPages.ByPublishDate.Reverse}}
              {{ .Scratch.Set "totruncated" 400 }}
              {{if .Params.thumbnail}}
                {{.Scratch.Set "totruncated" 100}}
              {{end}}
              {{$vvvv := .Scratch.Get "totruncated" }}
              <div class="col">
                  <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                      <div class="card-body d-flex flex-column align-items-start">
                        <h6 class="mb-0">
                            <a class="text-dark" href="{{.URL}}">{{.Title}}</a>
                        </h6>
                        <div class="mb-1 text-muted small">{{.Date.Format "Jan 2, 2006"}}</div>
                        <p class="card-text mb-auto">{{.Summary | truncate $vvvv}}</p>
                        <a class="btn btn-outline-primary btn-sm" role="button" href="{{.URL}}">Continue reading</a>
                      </div>
                      {{ if .Params.thumbnail}}
                      <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail" src="{{.Params.thumbnail}}" style="width: 200px; height: 200px;">
                      {{ end }}
                  </div>
              </div>
          {{ end }}
      {{end}}

    </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <hr class="my-4">
            <a class="btn btn-secondary btn-xl" href="/blogs">Read More Blogs</a>
          </div> 
        </div>
      </div>
    </section>

{{ end }}