{{ define "content"}}

{{ partial "mainNav.html" . }}
<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h3 class="text-center">
                    <blockquote>Imagination is more important than knowledge. Knowledge is limited. Imagination
                        encircles the world.</blockquote>
                </h3>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                {{/*  <p class="text-faded mb-5 font-italic">Albert Einstein</p>  */}}
                <h4>
                    <footer class="blockquote-footer text-faded font-italic">Albert Einstein</footer>
                </h4>
                {{/*  <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>  */}}
            </div>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <div class="text-center">
                    <img src="img/michael.jpg" class="rounded-circle" alt="Cinque Terre" width="25%">
                </div>
                <h2 class="section-heading text-white">About Me</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">
                    I'm a PhD student of Econometric Institute, Erasmus University Rotterdam. My primary research
                    interest including financial econometrics, time series modelling, derivative modelling, and
                    artificial neural network.
                </p>
                <a class="btn btn-light btn-xl" href={{ "resume" | absURL}}>My Resume</a>
                <ul class="list-inline list-social-icons mb-0">

                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/xun-michael-gong-02096775/" data-toggle="tooltip" title=""
                            data-offset="0 10" data-original-title="LinkedIn">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a href="https://github.com/gongmichael" data-toggle="tooltip" title="" data-offset="0 10"
                            data-original-title="GitHub">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/gong.michael.1" data-toggle="tooltip" title=""
                            data-offset="0 10" data-original-title="FaceBook">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>



            </div>
        </div>
    </div>
</section>






<section id="research" style="background-color: aliceblue;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My Research</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 d-flex align-items-stretch">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h6 class="mb-0">
                            <a class="text-dark"
                                href="https://academic-oup-com.eur.idm.oclc.org/jfec/article/15/1/36/2628051">Forecasting
                                Crashes: Correlated Fund Flows and Skewness in Stock Returns</a>
                        </h6>
                        <a class="mb-1 text-primary small"
                            href="https://academic-oup-com.eur.idm.oclc.org/jfec/article/15/1/36/2628051">Journal of
                            Financial Econometrics (2016) 15 (1): 36-61</a>
                        <div class="mb-1 text-muted small">with Prof.Remco Zwinkels and Dr.Chunmei Lin</div>
                        <p class="card-text mb-auto">We use the correlation of money flow among mutual funds to forecast
                            the skewness of stock returns. We develop the Flow Driven Skewness measure to explain future
                            skewness of stock returns.</p>

                    </div>
                </div>
            </div>

            <div class="col-lg-3 d-flex align-items-stretch">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h6 class="mb-0">
                            <a class="text-dark" href="#">Alternative Factor Structure for IVS modeling</a>
                        </h6>
                        <div class="mb-1 text-primary small">Working paper</div>
                        <div class="mb-1 text-muted small">with Prof.Dick van Dijk and Dr.Michel van der Wel</div>
                        <p class="card-text mb-auto">We use the dynamic factor models to characterize the dynamics of
                            the implied volatility surface of individual equity options and market index options.</p>

                    </div>
                </div>
            </div>

            <div class="col-lg-3 d-flex align-items-stretch">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h6 class="mb-0">
                            <a class="text-dark" href="#">Improving IVS forecasting using Put-Call parity</a>
                        </h6>
                        <div class="mb-1 text-primary small">Working paper</div>
                        <div class="mb-1 text-muted small">with Prof.Dick van Dijk and Dr.Michel van der Wel</div>
                        <p class="card-text mb-auto">We exploit the deviation of put-call parity to improve the
                            forecasting performance of the implied volatility surface. </p>

                    </div>
                </div>
            </div>

            <div class="col-lg-3 d-flex align-items-stretch">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h6 class="mb-0">
                            <a class="text-dark" href="#">Forecasting IVS via Deep Learning</a>
                        </h6>
                        <div class="mb-1 text-primary small">Working paper</div>
                        <div class="mb-1 text-muted small">with Prof.Dick van Dijk and Dr.Michel van der Wel</div>
                        <p class="card-text mb-auto">We use the deep learning models to capture the non-linearity of the
                            implied volatility surface and tend to improve the forecasting and trading performance of
                            options portfolio. </p>

                    </div>
                </div>
            </div>

        </div>
    </div>

</section>



<section id="blogs">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My Articles and Blogs</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>

    <div class="container">
        {{ with .Site.GetPage "/blogs"}}
        {{ $featuredPages := where .Pages "Params.featured" true }}
        <div class="row">
            {{ range first 4 $featuredPages.ByPublishDate.Reverse}}
            {{ .Scratch.Set "totruncated" 400 }}
            {{if .Params.thumbnail}}
            {{.Scratch.Set "totruncated" 100}}
            {{end}}
            {{$vvvv := .Scratch.Get "totruncated" }}
            <div class="col">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h6 class="mb-0">
                            <a class="text-dark" href="{{.RelPermalink}}">{{.Title}}</a>
                        </h6>
                        <div class="mb-1 text-muted small">{{.Date.Format "Jan 2, 2006"}}</div>
                        <p class="card-text mb-auto">{{.Summary | truncate $vvvv}}</p>
                        <a class="btn btn-outline-primary btn-sm" role="button" href="{{.RelPermalink}}">Continue
                            reading</a>
                    </div>
                    {{ if .Params.thumbnail}}
                    <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail"
                        src="{{$.Site.BaseURL}}{{.Params.thumbnail}}" style="width: 200px; height: 200px;">
                    {{ end }}
                </div>
            </div>
            {{ end }}
            {{end}}

        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <hr class="my-4">
                <a class="btn btn-secondary btn-xl" href={{ "blogs" | absURL}}>Read More Blogs</a>
            </div>
        </div>
    </div>
</section>



<section class="my-auto" style="background-color: aliceblue;" id="moments">
    <div class="container-fluid">
        {{/*  <div class="row">  */}}
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">My Life Moments</h2>
            <hr class="my-4">
        </div>
        {{/*  </div>  */}}
    </div>

    <div class="container my-auto">
        <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-2" data-slide-to="1"></li>
                <li data-target="#carousel-example-2" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="view">
                        <img class="d-block w-100" src="/img/indexMoment/IAAE.jpeg" alt="First slide">
                        <div class="mask rgba-black-light"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">2018 IAAE Conference</h3>
                        <p>June 2018</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view">
                        <img class="d-block w-100" src="/img/indexMoment/Game.jpeg" alt="Third slide">
                        <div class="mask rgba-black-slight"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Econometric Game competition</h3>
                        <p>April 2018</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view">
                        <img class="d-block w-100" src="/img/indexMoment/Orca.jpeg" alt="Second slide">
                        <div class="mask rgba-black-strong"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Hendrix born</h3>
                        <p>December 2018</p>
                    </div>
                </div>


            </div>
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <hr class="my-4">
                <a class="btn btn-info btn-xl" href={{ "timeline" | absURL}}>More My Moments</a>
            </div>
        </div>


    </div>
</section>

{{ end }}